<script>
import TopBar from '../components/TopBar.vue'
import { useDark, useToggle } from '@vueuse/core'
import LoginDialog from '../components/LoginDialog.vue'
import { ref } from 'vue'
/* import RouterView from 'vue-router' */

const isDark = useDark()
const toggleDark = useToggle(isDark)

import { useCookies } from "vue3-cookies";

const { cookies } = useCookies();
console.log(cookies.keys())
var identity = null
if (cookies.isKey('identity'))
  identity = cookies.get('identity')
var username = null
if (cookies.isKey('username'))
  username = cookies.get('username')
var id = null
if (cookies.isKey('id'))
  id = cookies.get('id')

export default {
  data() {
    var items = [
      { item: "老师", index: "teachers" }
    ]
    console.log(identity)
    if (identity != null) {
      items.push({ item: "推荐", index: "recommend" });
      items.push({ item: "发布", index: identity + "-publish" });
    }
    return {

      topbar: {
        items: items
      },
      loginDialogStatus: ref(false),
      dialogMode: ref("login"),
      registerType: ref(1)
    }
  },
  components: {
    TopBar, LoginDialog
  },
  methods: {
    goToTeachers() {
      this.$router.push('/teachers-publish');
    },
    loginDialogClose() {
      this.loginDialogStatus = false
    }
  }
}
</script>

<template>
  <div class="main-layout" id="MainLayout">
    <el-container class="main">
      <el-header class="main-header">
        <TopBar :items="topbar.items" @login="dialogMode = 'login'; loginDialogStatus = true;"
          @register="registerType = ''; dialogMode = 'register'; loginDialogStatus = true;" />
      </el-header>
      <el-main class="main-main">
        <RouterView
          @loginDialog="(identity) => { registerType = identity; dialogMode = 'register'; loginDialogStatus = true }" />
      </el-main>
      <el-footer></el-footer>
    </el-container>
  </div>
  <LoginDialog :visible="loginDialogStatus" @closeDialog="loginDialogClose" :mode="dialogMode"
    :registerType="registerType" />
</template>

<style scoped>
.main-layout {
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  position: absolute;
  background-color: var(--el-bg-color);
}

.main-header {
  padding: 0;
}

.main-main {
  height: 100vh;
  padding-top: 100px;
}
</style>
