<script>
import FuncCard from '../components/FuncCard.vue'

export default {
  data() {
    return {
    }
  },
  components: {
    FuncCard
  },
  emits:
    ["loginDialog"],
  methods: {
    goToTeachers() {
      this.$router.push('/student-publish');
    },
    register(identity) {
      this.$emit("loginDialog", identity)
    }
  }
}
</script>

<template>
  <el-text class="mx-1 title" type="primary">
    微家教
  </el-text>
  <br />
  <el-text class="mx-1 subtitle">
    面向啥都学不会的家教平台
  </el-text>
  <br />
  <img src="/assets/images/main.png" class="main-image" />
  <br />
  <div class="card-row" ref="cardrow">
    <el-row :gutter="20">
      <el-col :span="8">
        <FuncCard class="card" title="成为家教" content="在此处发挥你成为教师的本领" button="注册" @button-emits="register(1)">
          <img src="/assets/images/teacher.png" style=" max-height: 15vh; max-width: 100%;" />
        </FuncCard>
      </el-col>
      <el-col :span="8">
        <FuncCard class="card" title="注册学生" content="坐和放宽，老师们与你同在" button="注册" @button-emits="register(0)">
          <img src="/assets/images/student.png" style="max-height: 15vh; max-width: 100%;" />
        </FuncCard>
      </el-col>
      <el-col :span="8">
        <FuncCard class="card" title="寻找家教" content="开始学习，成为学习上的大王" button="查看"
          @button-emits="this.$router.push('/teachers');">
          <img src="/assets/images/interview.png" style="max-height: 15vh; max-width: 100%;" />
        </FuncCard>
      </el-col>
    </el-row>
  </div>
</template>

<style scoped>
.title {
  position: relative;
  font-size: 48px;
  font-weight: 700;
}

.subtitle {
  font-size: 24px;
  font-weight: 400;
}

.main-image {
  margin-right: 40px;
  transform: scale(120%);
  margin-top: 40px;
}

.card-row {
  margin-top: 150px;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  height: 20vh;
}

.card {
  margin-left: auto;
  margin-right: auto;
  height: 30vh;
  min-height: 300px;
  width: 20vw;
}
</style>
