<script>
import { tutorList } from '../api.js'
import { ElMessage } from 'element-plus';
import { recommend } from '../api.js'
import { useCookies } from 'vue3-cookies';
import { options } from '../variable.js'
import { ref } from 'vue';
const { cookies } = useCookies();
var id = null
if (cookies.isKey('id'))
    id = cookies.get('id')
var identity = null
if (cookies.isKey('identity'))
    identity = cookies.get('identity')
export default {
    data() {
        return {
            recommend_list: [],
            options: options,
            height: ref("90vh"),
        }
    },
    methods: {
        isStudent() {
            return identity == 'student';
        },
        goToTeacher(teacher_id) {
            this.$router.push('/teacher/' + teacher_id);
        }
    },
    async mounted() {
        await recommend(id)
            .then((response) => {
                if (response == null) {
                    ElMessage.error('查询失败');
                    return;
                }
                // 处理响应数据
                this.recommend_list = response.array
                console.log(response);
            }).catch((error) => {
                // 处理错误
                ElMessage.error('查询失败');
                console.error(error);
            })
        this.$nextTick(() => {
            const recommendElement = document.querySelector('.recommend');
            if (recommendElement) {
                this.height = window.getComputedStyle(recommendElement).height;
            }
        });
    },
    components: {
    }

}
</script>

<template>
    <div class="recommend-carousel">
        <el-carousel trigger="click" :height="height" :autoplay="false">
            <el-carousel-item v-if="recommend_list.length == 0" :key="item">
                <el-card class="recommend">
                    <div class="recommend-info">
                        <el-text class="recommend-text recommend-text-bold" style="margin: auto;">
                            暂无推荐
                        </el-text>
                    </div>
                </el-card>
            </el-carousel-item>
            <el-carousel-item v-for="item in recommend_list" :key="item">
                <el-card class="recommend">
                    <template #header>
                        <div class="recommend-head">
                            <vue-gravatar :email="item.email" :size="200" class="recommend-avatar" />
                        </div>
                    </template>
                    <div class="recommend-info" v-if="isStudent()">
                        <el-text class="recommend-text recommend-text-bold">
                            {{ item.username }}
                            &emsp;
                            {{ options.sex[item.sex].label }}
                            &emsp;
                            {{ item.age }}岁
                        </el-text>
                        <br />
                        <el-text class="recommend-text">{{ item.region }}</el-text>
                        <br />
                        <el-text class="recommend-text">科目</el-text>
                        <br />
                        <el-text class="recommend-text recommend-text-bold recommend-text-noheight">
                            {{ options.subject[item.subject].label }}
                        </el-text>
                        <br />
                        <el-text class="recommend-text">教育阶段</el-text>
                        <br />
                        <el-text class="recommend-text recommend-text-bold recommend-text-noheight">
                            {{ options.educationStage_label[item.educationstage] }}
                        </el-text>
                        <br />
                        <el-text class="recommend-text">预期价格</el-text>
                        <br />
                        <el-text class="recommend-text recommend-text-bold recommend-text-noheight">
                            {{ item.expprice }}元/小时
                        </el-text>
                        <br />
                        <el-text class="recommend-text">评分</el-text>
                        <br />
                        <el-rate v-model="item.rate" disabled class="recommend-rate" size="large"></el-rate>
                        <br />
                        <el-text class="recommend-text recommend-text-noheight">{{ item.rate }}</el-text>
                        <br />
                        <el-text class="recommend-text">{{ item.info }}</el-text>
                        <br />
                        <el-button class="recommend-button" type="Primary"
                            @click="goToTeacher(item.userid)">查看详情</el-button>
                        <br />
                    </div>
                    <div class="recommend-info" v-if="!isStudent()">
                        <el-text class="recommend-text recommend-text-bold">
                            {{ item.username }}
                            &emsp;
                            {{ options.sex[item.sex].label }}
                            &emsp;
                            {{ item.age }}岁
                        </el-text>
                        <br />
                        <el-text class="recommend-text">{{ item.region }}</el-text>
                        <br />
                        <el-text class="recommend-text">科目</el-text>
                        <br />
                        <el-text class="recommend-text recommend-text-bold recommend-text-noheight">
                            {{ options.subject[item.subject].label }}
                        </el-text>
                        <br />
                        <el-text class="recommend-text">教育阶段</el-text>
                        <br />
                        <el-text class="recommend-text recommend-text-bold recommend-text-noheight">
                            {{ options.educationStage_label[item.educationstage] }}
                        </el-text>
                        <br />
                        <el-text class="recommend-text">邮件</el-text>
                        <br />
                        <el-text class="recommend-text recommend-text-bold recommend-text-noheight">
                            {{ item.email }}
                        </el-text>
                        <br />
                    </div>
                </el-card>
            </el-carousel-item>
            <br style="clear: both;" />
        </el-carousel>
    </div>
</template>

<style scoped>
.recommend {
    border-radius: 100px;
    margin: auto;
    min-height: 90vh;
    height: auto;
    padding: 0%;
    background-color: rgb(246, 251, 255);
}

.dark .recommend {
    background-color: rgb(34, 34, 34);
}

.recommend-avatar {
    border-radius: 100%;
    width: 10vw;
    height: 10vw;
    min-width: 20vh;
    min-height: 20vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
}

.recommend-head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    min-height: 20vw;
    padding: 0;

}

/*
:deep() .el-carousel__container {
    height: calc(100% - 40vh);
} */

:deep() .recommend .el-card__header {
    padding: 0%;
    background-image: url("/assets/images/recommend.jpg");

}

.recommend-carousel {
    width: 80vw;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
}

.recommend-info {
    margin-top: 200px;
}

.recommend-text {
    line-height: 2.5;
    display: inline;
    font-weight: 100;
    font-size: 32px;
}

.recommend-text-bold {
    font-weight: 500;
}

.recommend-text-noheight {
    line-height: 1;
}

:deep() .recommend-rate .el-rate__item .el-icon {
    height: 2em;
    width: 2em;
}


:deep() .recommend-rate .el-rate__item .el-icon svg {
    height: 2em;
    width: 2em;
}

.recommend-button {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
</style>
