<script>
import TearcherCard from '../components/TeacherCard.vue'
import { options } from '../variable.js'
import { reactive } from 'vue'
import { requirementAdd } from '../api.js'
import { useCookies } from "vue3-cookies";
import { ElMessage } from 'element-plus';

const { cookies } = useCookies();
console.log(cookies.keys())
var identity = null
if (cookies.isKey('identity'))
  identity = cookies.get('identity')
var username = null
if (cookies.isKey('username'))
  username = cookies.get('username')
var id = null
if (cookies.isKey('id'))
  id = cookies.get('id')

export default {
  data() {
    return {
      form: reactive(
        { subject: '', price: 50, flexibleTime: true, dates: [], time: [] },
      ),
      options: options
    }
  },
  components: {
    TearcherCard
  },
  methods: {
    async publish() {
      // WIP 发布家教需求
      try {
        const response = await requirementAdd(
          id, this.form.subject, this.form.educationStage[1], this.form.time, this.form.info
        );
        if (response)
          ElMessage({
            showClose: true,
            message: '发布成功',
            type: 'success',
          })
        else {
          ElMessage({
            showClose: true,
            message: '发布失败',
            type: 'error',
          })
        }

      } catch (error) {
        // 处理错误
        console.error(error);
        ElMessage({
          showClose: true,
          message: '发布失败',
          type: 'error',
        })
      }
    }
  }

}
</script>

<template>
  <el-text class="publish-title">发布家教需求</el-text>
  <el-form v-model="form">
    <div class="item-box">
      <el-text type="primary" size="large" class="item-label">&#12288&#12288科目</el-text>
      <el-select v-model="form.subject" placeholder="请选择" size="large" style="width: 240px">
        <el-option v-for="item in options.subject" :key="item.value" :label="item.label" :value="item.value" />
      </el-select>
    </div>
    <div class="item-box">
      <el-text type="primary" size="large" class="item-label">教育阶段</el-text>
      <el-cascader v-model="form.educationStage" :options="options.educationStage" placeholder="请选择" size="large" />
    </div>
    <div class="item-box">
      <el-text type="primary" size="large" class="item-label">灵活时间</el-text>
      <el-switch v-model="form.flexibleTime" size="large" />
    </div>
    <div v-if="!form.flexibleTime" class="item-box">
      <el-text type="primary" size="large" class="item-label">&#12288&#12288日期</el-text>
      <el-date-picker v-model="form.dates" type="dates" placeholder="请选择一日或多日" style="width: 240px" />
    </div>
    <div v-if="!form.flexibleTime" class="item-box">
      <el-text type="primary" size="large" class="item-label">&#12288&#12288时间</el-text>
      <div style="width: 240px; display: flex;">
        <el-time-picker v-model="form.time" is-range range-separator="To" start-placeholder="开始" end-placeholder="结束"
          style="width: 0px" />
      </div>
    </div>
    <div class="item-box">
      <el-text type="primary" size="large" class="item-label">&#12288&#12288备注</el-text>
      <el-input v-model="form.info" size="large" style="width: 240px" :rows="2" type="textarea" placeholder="备注" />
    </div>
    <div class="item-box publish-button">
      <el-button type="primary" @click="publish">发布</el-button>
    </div>
  </el-form>
</template>
<style scoped>
.publish-title {
  display: flex;
  margin-bottom: 48px;
  font-size: 28px;
  margin-left: 56px;
}

.item-box {
  display: flex;
  margin: 24px;
}

.item-label {
  margin-right: 24px;
}

.publish-button {
  margin-left: 110px;
}
</style>
