<script>
import TearcherCard from '../components/TeacherCard.vue'
import { reactive } from 'vue'
import { tutorList } from '../api.js'
import { options } from '../variable.js'
import { ElMessage } from 'element-plus';

export default {
  data() {
    return {
      filter: reactive(
        {
          subject: [],
          sex: '',
          region: [],
          educationStage: [],
          rate: 0.0,
          price: [0, 1000]
        }
      ),
      options: options,
      tutorlist: []
    }
  },
  components: {
    TearcherCard
  },
  methods: {
    async search() {
      // WIP 提交表单 tutorlist 查询所有符合要求的tutor信息
      // tutorlist?subject sex region educationStage lowRate lowPrice highPrice 返回一个teacher和tutor的连接
      await tutorList(
        this.filter.subject, this.filter.sex, this.filter.region, this.filter.educationStage[1], this.filter.rate, this.filter.price[0], this.filter.price[1])
        .then((response) => {
          if (response == null) {
            ElMessage.error('查询失败');
            return;
          }
          // 处理响应数据
          this.tutorlist = response.array
        }).catch((error) => {
          // 处理错误
          console.error(error);
        })
    },
    goToTeacher(teacher_id) {
      this.$router.push('/teacher/' + teacher_id);
    }
  }

}
</script>

<template>
  <el-form v-model="filter" :inline="true">
    <div style="display: flex;">
      <div>
        <el-text type="primary" size="large" class="form-label">学科</el-text>
        <el-form-item>
          <el-select v-model="filter.subject" placeholder="请选择" size="large" style="width: 240px" collapse-tags-tooltip
            :max-collapse-tags="2" multiple>
            <el-option v-for="item in options.subject" :key="item.value" :label="item.label" :value="item.value" />

          </el-select>
        </el-form-item>
      </div>
      <div>
        <el-text type="primary" size="large" class="form-label">性别</el-text>
        <el-form-item>
          <el-select v-model="filter.sex" multiple placeholder="请选择" size="large" style="width: 120px">
            <el-option v-for="item in options.sex" :key="item.value" :label="item.label" :value="item.value" />
          </el-select>
        </el-form-item>
      </div>
      <div>
        <el-text type="primary" size="large" class="form-label">地区</el-text>
        <el-form-item>
          <el-cascader v-model="filter.region" :options="options.region" placeholder="请选择" size="large" />
        </el-form-item>
      </div>
      <div>
        <el-text type="primary" size="large" class="form-label">教育阶段</el-text>
        <el-form-item>
          <el-cascader v-model="filter.educationStage" :options="options.educationStage" placeholder="请选择"
            size="large" />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="search">查询</el-button>
        </el-form-item>
      </div>
    </div>
    <br />
    <div style="display: flex;">
      <div>
        <el-text type="primary" size="large" class="form-label">最低评分</el-text>
        <el-form-item>
          <el-rate size="large" v-model="filter.rate" allow-half></el-rate>
        </el-form-item>
      </div>
    </div>
    <br />
    <div style="display: flex;">
      <el-text type="primary" size="large" class="form-label">价格区间</el-text>
      <div class="price-slide">
        <el-slider v-model="filter.price" range :max="1000" />
      </div>
    </div>
  </el-form>
  <el-row>
    <el-col :span="12" v-for="item in tutorlist" @click="goToTeacher(item.userid)">
      <TearcherCard :name="item.username" :region="item.region" :rate="item.rate" :email="item.email">
        学科：{{ options.subject[item.subject].label }}
        <br />
        性别：{{ options.sex[item.sex].label }}
        <br />
        价格：{{ item.expprice }}
        <br />
        教育阶段：{{ options.educationStage_label[item.EducationStage] }}
        <br />
        {{ item.info }}
      </TearcherCard>
    </el-col>
  </el-row>
</template>

<style scoped>
.el-col {
  border-radius: 4px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.form-label {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.el-form-item {
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.el-form {
  margin-left: 1vw;
}

.el-rate {
  --el-rate-void-color: var(--el-border-color);
}

.price-slide {
  width: 300px;
  display: flex;
  align-items: center;
  margin-left: 12px;
}
</style>
