<script>
import TearcherCard from '../components/TeacherCard.vue'
import { options } from '../variable.js'
import { reactive } from 'vue'
import { tutorAdd } from '../api.js'
import { useCookies } from "vue3-cookies";
import { ElMessage } from 'element-plus';

const { cookies } = useCookies();

var id = null
if (cookies.isKey('id'))
  id = cookies.get('id')
var username = null
if (cookies.isKey('username'))
  username = cookies.get('username')


export default {
  data() {
    return {
      form:
        reactive(
          { subject: '', price: 50, educationStage: [], info: '' },
        ),
      options: options
    }
  },
  components: {
    TearcherCard
  },
  methods: {
    async publish() {

      // WIP 发布家教信息
      try {
        const response = await tutorAdd(
          id, this.form.subject, this.form.educationStage[1], this.form.price, this.form.info
        );
        if (response)
          ElMessage({
            showClose: true,
            message: '发布成功',
            type: 'success',
          })
        else {
          ElMessage({
            showClose: true,
            message: '发布失败',
            type: 'error',
          })
        }
        // 处理响应数据

      } catch (error) {
        // 处理错误
        console.error(error);
        ElMessage({
          showClose: true,
          message: '发布失败',
          type: 'error',
        })
      }
    }
  }

}
</script>

<template>
  <el-text class="publish-title">发布家教信息</el-text>
  <el-form v-model="form">
    <div class="item-box">
      <el-text type="primary" size="large" class="item-label">&#12288&#12288科目</el-text>
      <el-select v-model="form.subject" placeholder="请选择" size="large" style="width: 240px">
        <el-option v-for="item in options.subject" :key="item.value" :label="item.label" :value="item.value" />
      </el-select>
    </div>
    <div class="item-box">
      <el-text type="primary" size="large" class="item-label">教育阶段</el-text>
      <el-cascader v-model="form.educationStage" :options="options.educationStage" placeholder="请选择" size="large" />
    </div>
    <div class="item-box">
      <el-text type="primary" size="large" class="item-label">期望价格</el-text>
      <el-input v-model="form.price" type="number" size="large" style="width: 240px" placeholder="价格"> <template
          #append>元</template></el-input>
    </div>
    <div class="item-box">
      <el-text type="primary" size="large" class="item-label">&#12288&#12288备注</el-text>
      <el-input v-model="form.info" size="large" style="width: 240px" :rows="2" type="textarea" placeholder="备注" />
    </div>
    <div class="item-box form-button">
      <el-button type="primary" @click="publish">发布</el-button>
    </div>
  </el-form>
</template>
<style scoped>
.publish-title {
  display: flex;
  margin-bottom: 48px;
  font-size: 28px;
  margin-left: 56px;
}

.item-box {
  display: flex;
  margin: 24px;
}

.item-label {
  margin-right: 24px;
}

.publish-button {
  margin-left: 110px;
}
</style>
