<script>
import { ref } from 'vue';
import { tutorRate, userInfo, rateAdd, rateDel } from '../api.js'
import { ElMessage } from 'element-plus';
import { options } from '../variable.js'
import { Edit } from '@element-plus/icons-vue';
import { useCookies } from 'vue3-cookies';
const { cookies } = useCookies();
var id = null
if (cookies.isKey('id'))
    id = cookies.get('id')
export default {
    data() {
        return {
            info: ref({}),
            rates: ref([]),
            options: options,
            comment: {
                info: '',
                rate: 5.0,
                visable: false
            },
            id: id,
        }
    },
    methods: {
        async Comment() {
            this.comment.visable = false;
            // WIP 提交评论
            await rateAdd(this.$route.params.id, id, this.comment.rate, this.comment.info)
                .then((response) => {
                    if (response == null) {
                        ElMessage.error('评论失败');
                        return;
                    }
                    ElMessage.success('评论成功');
                    // 处理响应数据
                    console.log(response.data);
                }).catch((error) => {
                    ElMessage.error('评论失败');
                    // 处理错误
                    console.error(error);
                })
            await tutorRate(this.$route.params.id).then((response) => {
                if (response == null) {
                    ElMessage.error('加载评分失败');
                    return;
                }
                this.rates = response.array;
            }).catch((error) => {
                ElMessage.error('加载评分失败');
                console.error(error);
            })
            this.comment.rate = 5.0;
            this.comment.info = '';
        },
        async Delete() {
            await rateDel(this.$route.params.id, id)
                .then((response) => {
                    if (response == null) {
                        ElMessage.error('删除失败');
                        return;
                    }
                    ElMessage.success('删除成功');
                    // 处理响应数据
                    console.log(response.data);
                }).catch((error) => {
                    ElMessage.error('删除失败');
                    // 处理错误
                    console.error(error);
                })
            await tutorRate(this.$route.params.id).then((response) => {
                if (response == null) {
                    ElMessage.error('加载评分失败');
                    return;
                }
                this.rates = response.array;
            }).catch((error) => {
                ElMessage.error('加载评分失败');
                console.error(error);
            })
        }
    },
    async created() {
        await userInfo(this.$route.params.id).then((response) => {
            if (response == null) {
                ElMessage.error('加载用户信息失败');
                return;
            }
            this.info = response;
            console.log(this.options.sex[0].label)
        }).catch((error) => {
            ElMessage.error('加载用户信息失败');
            console.error(error);
        })
        await tutorRate(this.$route.params.id).then((response) => {
            if (response == null) {
                ElMessage.error('加载评分失败');
                return;
            }
            this.rates = response.array;
        }).catch((error) => {
            ElMessage.error('加载评分失败');
            console.error(error);
        })
    },
    components: {
    }

}
</script>

<template>
    <div class="info">
        <el-carousel direction="vertical" :autoplay="false" style="height: 30vh;">
            <el-carousel-item v-for="item in 4" :key="item" class="backgroud">
                <h3 text="2xl" justify="center">{{ item }}</h3>
            </el-carousel-item>
        </el-carousel>
        <div class="basic">
            <vue-gravatar :email="info.email" :size="200" class="avatar" />
            <div
                style="position: relative; display: block; width: 50vw; height: 20vh; min-height: 200px; margin-left: 50px;">
                <div class="name">
                    <div style="height: 5vh;"></div>
                    <el-text type="primary" class="name">{{ info.username }}</el-text>
                </div>
                <div class="info-content">
                    <el-text class="info-content" size="large">
                        {{ options.sex[info.sex] ? options.sex[info.sex].label : "" }}
                        &emsp;
                        {{ info.age }} 岁
                        <br />
                        邮件: {{ info.email }}
                        <br />
                        地区: {{ info.region }}
                        <br />
                        评分:
                    </el-text>
                    <el-rate v-model="info.rate" disabled show-score text-color="#ff9900"
                        score-template="{value}"></el-rate>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100%; margin-left: 0;margin-right: 0; margin-top: 100px; margin-bottom: 100px; display: flex;">
        <el-divider style="width: 90vw; margin: auto;"></el-divider>
    </div>
    <div style="width: 90vw; margin: auto;">
        <el-timeline style="max-width: 80vw; width: auto; text-align: left;">
            <el-timeline-item v-for="rate in rates" center :timestamp="rate.time" placement="top">
                <el-card>
                    <p>{{ rate.info }}</p>
                    <p v-if="!rate.info">这个用户很懒，什么也没留下哦</p>
                    <el-rate v-model="rate.rate" disabled show-score text-color="#ff9900"
                        score-template="{value}"></el-rate>
                    <br />
                    <el-button type="Primary" v-if="rate.userid == id" @click="Delete()">删除</el-button>
                </el-card>
            </el-timeline-item>
        </el-timeline>
    </div>
    <el-button v-if="id" class="comment" type="primary" @click="comment.visable = true">
        <el-icon class="comment-icon">
            <Edit />
        </el-icon>
    </el-button>
    <el-dialog v-model="comment.visable" title="评论" width="500">
        <el-form :model="form">
            <el-form-item label="评价">
                <el-input v-model="comment.info" style="width: 240px" :rows="2" type="textarea"
                    placeholder="在此输入你的评价" />
            </el-form-item>
            <el-form-item label="评分">
                <el-rate v-model="comment.rate" allow-half />
            </el-form-item>
        </el-form>
        <template #footer>
            <div class="dialog-footer">
                <el-button @click="comment.visable = false">取消</el-button>
                <el-button type="primary" @click="Comment()">
                    发表
                </el-button>
            </div>
        </template>
    </el-dialog>
</template>

<style>
.backgroud {
    background-color: #c8e0ec;
    height: 30vh;
    min-height: 400px;
    width: 90vw;
    display: inline-block;
}

.info {
    display: inline-block;
    width: 90vw;
    height: 40vh;
}

.basic {
    position: relative;
    margin-left: 150px;
    margin-top: -10vh;
    display: flex;
}

.avatar {
    border-radius: 100%;
    display: block;
    width: 20vh;
    height: 20vh;
    min-height: 200px;
    min-width: 200px;
}

.basicinfo {
    position: relative;
    display: block;
    margin-left: 30px;
    margin-top: -20vh;
}

.name {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    min-height: 10vh;
    font-size: 40px;
}

.info-content {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 20px;
}

.comment {
    position: fixed;
    bottom: 10vh;
    right: 10vh;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.comment-icon {
    font-size: 40px;
}
</style>
