<script>

export default {
    data() {
        return {

        }
    },
    props: ['title', 'content', 'button', 'buttonAction'],
    methods: {
        buttonEmits() {
            this.$emit('buttonEmits');
        }
    }
}
</script>
<template>
    <el-card class="card" style="height: 100%; padding: 0;" ref="card">
        <div class="card-img">
            <slot></slot>
        </div>
        <div>
            <el-text class="mx-1 card-title" size="large"> {{ title }}</el-text>
        </div>
        <div style="margin: 10px;">
            <el-text class="mx-1 card-content" size="large"> {{ content }}</el-text>
        </div>
        <el-button size="large" type="primary" class="card-button" @click="buttonEmits"> {{ button }}</el-button>
    </el-card>
</template>
<style>
.card-img {
    height: 50%;
    width: 100%;
}

.card-title {
    font-size: 24px;
    font-weight: 700;
}

.card-button {
    margin-top: 20px;
}
</style>
