<script>
import { reactive, ref } from 'vue';
import { options } from '../variable.js'
import { useCookies } from "vue3-cookies";
import { login, register } from '../api.js'
import { ElMessage } from 'element-plus'
const { cookies } = useCookies();
export default {
    data() {
        return {
            dialogVisible: ref(false),
            loginInfo: reactive({
                username: '',
                password: ''
            }),
            registerInfo: reactive({
                username: '',
                password: '',
                repeatPassword: '',
                email: '',
                sex: '',
                age: '',
                region: [],
                identity: this.registerType
            }),
            innerMode: this.mode,
            options: options
        }
    },
    props: ['visible', 'mode', 'registerType'],
    methods: {
        handleClose() {
            this.$emit("closeDialog")
        },
        login() {
            // 使用api.js中的login函数提交登录信息
            login(this.loginInfo.username, this.loginInfo.password)
                .then((response) => {
                    if (response == null) {
                        ElMessage.error('登录失败');
                        return;
                    }
                    // 登录成功后的操作，例如保存用户信息到cookies
                    const id = response.userid; // 假设后端返回的响应中有id字段
                    const identity = response.class; // 假设返回的用户类别字段为class
                    console.log(response)
                    if (id == undefined) {
                        ElMessage.error('登录失败')
                        return
                    }
                    const username = this.loginInfo.username;
                    cookies.set('id', id);
                    cookies.set('identity', identity == 0 ? 'student' : 'teacher');
                    cookies.set('username', username);
                    console.log(identity);
                    // 关闭对话框
                    this.$emit("closeDialog");
                    // 页面刷新或导航到主页
                    window.location.reload(); // 或者使用this.$router.push('/')
                })
                .catch((error) => {
                    // 处理登录失败的情况
                    ElMessage.error('登录失败:', error);
                });
        },

        register() {
            // 检查两次输入的密码是否一致
            if (this.registerInfo.password !== this.registerInfo.repeatPassword) {
                ElMessage.error('两次输入的密码不一致！');
                return;
            }
            var checkEmail = new RegExp(
                "^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(.[a-zA-Z0-9_-]+)+$");
            if (!checkEmail.test(this.registerInfo.email)) {
                ElMessage.error('邮箱格式不正确！');
                return;
            }
            console.log(this.registerInfo.identity == 'student' ? 1 : 0)
            // 使用api.js中的register函数提交注册信息
            register(
                this.registerInfo.username,
                this.registerInfo.identity,
                this.registerInfo.sex,
                this.registerInfo.age,
                this.registerInfo.region,
                this.registerInfo.password,
                this.registerInfo.email
            )
                .then((response) => {
                    if (response == null) {
                        ElMessage.error('注册失败');
                        return;
                    }
                    // 注册成功后的操作
                    // 可以调用login方法进行登录或其他操作
                    this.loginInfo.username = this.registerInfo.username;
                    this.loginInfo.password = this.registerInfo.password;
                    this.login(); // 注册后自动登录
                })
                .catch((error) => {
                    // 处理注册失败的情况
                    console.error('注册失败:', error);
                });
        },
        switchMode(mode) {
            this.innerMode = mode
        },
    },
    watch: {
        visible(newVal, oldVal) {
            this.dialogVisible = newVal
        },
        mode(newVal, oldVal) {
            this.innerMode = newVal
        },
        registerType(newVal, oldVal) {
            this.registerInfo.identity = newVal
        }
    }
}
</script>
<template>
    <el-dialog v-model="dialogVisible" width="500" :before-close="handleClose">
        <el-text :type="innerMode == 'login' ? 'primary' : undefined" size="large" class="title"
            @click="switchMode('login')">登录</el-text>
        /
        <el-text :type="innerMode == 'register' ? 'primary' : undefined" size="large" class="title"
            @click="switchMode('register')">注册</el-text>
        <el-form v-if="innerMode == 'login'" v-model="loginInfo">
            <div class="item-box">
                <el-text type="primary" size="large" class="item-label">用户名</el-text>
                <el-input v-model="loginInfo.username" size="large" style="width: 240px" placeholder="用户名" />
            </div>
            <div class="item-box">
                <el-text type="primary" size="large" class="item-label">&#12288密码</el-text>
                <el-input v-model="loginInfo.password" type="password" size="large" style="width: 240px"
                    placeholder="密码" />
            </div>
            <div class="item-box publish-button">
                <el-button type="primary" @click="login">登录</el-button>
                <el-button @click="handleClose">取消</el-button>
            </div>
        </el-form>
        <el-form v-if="innerMode == 'register'" v-model="registerInfo">
            <div class="item-box">
                <el-text type="primary" size="large" class="item-label">&#12288用户名</el-text>
                <el-input v-model="registerInfo.username" size="large" style="width: 240px" placeholder="您的名字" />
            </div>
            <div class="item-box">
                <el-text type="primary" size="large" class="item-label">&#12288&#12288身份</el-text>
                <el-select v-model="registerInfo.identity" placeholder="请选择" size="large" style="width: 240px">
                    <el-option v-for="item in options.identity" :key="item.value" :label="item.label"
                        :value="item.value" />
                </el-select>
            </div>
            <div class="item-box">
                <el-text type="primary" size="large" class="item-label">&#12288&#12288邮箱</el-text>
                <el-input v-model="registerInfo.email" size="large" style="width: 240px"
                    placeholder="name@example.com" />
            </div>
            <div class="item-box">
                <el-text type="primary" size="large" class="item-label">&#12288&#12288性别</el-text>
                <el-select v-model="registerInfo.sex" placeholder="请选择" size="large" style="width: 240px">
                    <el-option v-for="item in options.sex" :key="item.value" :label="item.label" :value="item.value" />
                </el-select>
            </div>
            <div class="item-box">
                <el-text type="primary" size="large" class="item-label">&#12288&#12288年龄</el-text>
                <el-input v-model="registerInfo.age" type="number" size="large" style="width: 240px" placeholder="18" />
            </div>
            <div class="item-box">
                <el-text type="primary" size="large" class="item-label">&#12288&#12288地区</el-text>
                <el-cascader v-model="registerInfo.region" :options="options.region" placeholder="请选择" size="large" />
            </div>
            <div class="item-box">
                <el-text type="primary" size="large" class="item-label">&#12288&#12288密码</el-text>
                <el-input v-model="registerInfo.password" type="password" size="large" style="width: 240px"
                    placeholder="密码" />
            </div>
            <div class="item-box">
                <el-text type="primary" size="large" class="item-label">确认密码</el-text>
                <el-input v-model="registerInfo.repeatPassword" type="password" size="large" style="width: 240px"
                    placeholder="请再输入一次密码" />
            </div>
            <div class="item-box publish-button">
                <el-button type="primary" @click="register">注册</el-button>
                <el-button @click="handleClose">取消</el-button>
            </div>
        </el-form>
    </el-dialog>
</template>
<style>
.title {
    font-size: 20px;
}

.item-box {
    margin: 24px;
}

.item-label {
    margin-right: 24px;
}
</style>
