<script>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import { library } from '@fortawesome/fontawesome-svg-core'
import { fas } from '@fortawesome/free-solid-svg-icons'
import { far } from '@fortawesome/free-regular-svg-icons'
import { fab } from '@fortawesome/free-brands-svg-icons'
library.add(fas, far, fab)
export default {
    components: {
        FontAwesomeIcon
    }
}
</script>
<template>
    <div id="logo">
        <FontAwesomeIcon id="logo-icon" icon="chalkboard" class="color-primary" />
        <label id="logo-text">微家教</label>
    </div>
</template>
<style>
@font-face {
    font-family: 'CKTKingkong';
    src: url("/assets/fonts/CKTKingkong.ttf");
}

#logo {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 24px;
    width: 100px;
    height: 24px;
}

#logo-icon {
    height: 100%;
}

#logo-text {
    color: var(--el-color-primary);
    margin-left: 4px;
    font-size: 16;
    font-family: 'CKTKingkong';
}
</style>
