<script>
export default {
    props: ["name", "region", "rate", "email"],
    data() {
        return {
            rate: this.rate,
            email: this.email
        }
    },
    components: {
    },
}
</script>

<template>
    <el-card class="card">
        <template #header>
            <div class="card-header">
                <vue-gravatar class="card-avatar" :email="email" default="mp" :size="200" />
                <div class="card-name">
                    <el-row>
                        <el-text class="card-username" line-clamp="1">
                            {{ name }}
                        </el-text>
                    </el-row>
                    <el-row>
                        <el-text size="large" line-clamp="1">
                            {{ region }}
                        </el-text>
                    </el-row>
                    <el-row>
                        <el-rate v-model="rate" disabled show-score score-template="{value}/5"></el-rate>
                    </el-row>
                </div>
            </div>
        </template>
        <div class="card-main">
            <el-text class="card-content" size="large">
                <slot></slot>
            </el-text>
        </div>
    </el-card>
</template>
<style>
.card {
    height: 300px;
    border: 1px solid var(--el-border-color);
}

.card-header {
    text-align: left;
    display: flex;
}

.card-avatar {
    height: 64px;
    width: 64px;
    border-radius: 100%;
}

.card-name {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 32px;
    padding: 0%;
}

.card-username {
    font-size: 28px;
    margin-top: -8px;
    margin-bottom: 8px;
}

.card-main {
    text-align: left;
}

.card-content {
    word-break: break-all;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    overflow-wrap: break-word;
    -webkit-box-orient: vertical;
}

.el-rate__item {
    --color: var(--el-rate-void-color);
}
</style>
