<script>
import Logo from "./Logo.vue"
import { ref } from 'vue'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import { library } from '@fortawesome/fontawesome-svg-core'
import { fas } from '@fortawesome/free-solid-svg-icons'
import { far } from '@fortawesome/free-regular-svg-icons'
import { fab } from '@fortawesome/free-brands-svg-icons'
library.add(fas, far, fab)
import { useDark, useToggle } from '@vueuse/core'
import { useCookies } from "vue3-cookies";

const { cookies } = useCookies();

const isDark = useDark()
const toggleDark = useToggle(isDark)
export default {
  data() {
    console.log(cookies.isKey('identity'))
    return {
      dark: isDark,
      login: cookies.isKey('identity'),
      userName: cookies.get('username')
    }
  },
  computed: {
    iconColor() {
      return isDark ? "#aaaaaa" : "#0a0a0a";
    }
  },
  props: ['items', 'default', 'nosearch'],
  components:
  {
    Logo, FontAwesomeIcon
  },
  methods: {
    dialogMode(mode) {
      this.$emit(mode);
    },
    refresh() {
      window.location.reload();
    },
    logout() {
      cookies.remove('id');
      cookies.remove('identity');
      cookies.remove('username');
      // 导航到登录页面或主页
      window.location.reload()
    },
    goTo(path) {
      this.$router.push('/' + path);
    }
  },
}

</script>
<template>
  <nav class="dark">
    <Logo @click.native="refresh" class="nav-item" />
    <div id="right">
      <!--       <div v-if="!nosearch" class="radius nav-item searcher">
        <el-icon class="searcher-icon">
          <Search :size="20" :color="iconColor" />
        </el-icon>
      </div> -->
      <el-menu class="nav-item" id="tab-menu" mode="horizontal" :ellipsis="false" :default-active="default">
        <el-menu-item v-for="(item, index) in items" :index="item.index" @click="goTo(item.index)">
          {{ item.item }}
        </el-menu-item>
      </el-menu>
      <el-switch v-model="dark" class="dark-switch nav-item">
        <template #active-action>
          <span class="light-mode-switcher">
            <FontAwesomeIcon icon="moon" class="light-switcher switcher" />
          </span>
        </template>
        <template #inactive-action>
          <span class="dark-mode-switcher">
            <FontAwesomeIcon icon="sun" class="dark-switcher switcher" />
          </span>
        </template>
      </el-switch>
      <div v-if="!login" id="login-unlogin" class="nav-item login">
        <el-link class="mx-1 login-text" @click="dialogMode('register')" type="primary">注册</el-link>
        <el-link class="mx-1 login-text" @click="dialogMode('login')">登录</el-link>
      </div>
      <div v-if="login" id="login-login" class="nav-item login" @click.native="logout">
        <el-icon :size="20" :color="iconColor" style="top:2px">
          <UserFilled />
        </el-icon>
        <el-icon :size="16" :color="iconColor" style="top:4px">
          <ArrowDown />
        </el-icon>
        <el-text class="mx-1 username">{{ userName }}</el-text>
      </div>
    </div>
  </nav>
</template>

<style>
nav {
  --bg: var(--el-bg-color);
  --border: #ddd;
  --at-apply: 'box-border flex z-999';

  justify-content: space-between;
  display: flex;
  height: var(--nav-height);
  background-color: var(--bg);
  height: 60px;
  border-bottom: 1px solid var(--border);
}

.dark nav {
  --border: #383838;

  --at-apply: 'shadow-none';
  border-bottom: 1px solid var(--border);
}

.flex-grow {
  flex-grow: 1;
}

.color-primary {
  color: var(--el-color-primary);
}

nav-item {
  height: 60px;
}

#tab-menu {
  border-bottom: 0px;
  display: flex;
  margin-right: 16px;
  background-color: var(--bg);
}

#right {
  display: flex;
  padding-right: 24px;
  margin-top: auto;
  margin-bottom: auto;
}

.dark-switch {
  --dark-color: #333;
  --light-color: #AAA;
  margin-top: auto;
  margin-bottom: auto;
  --el-switch-on-color: var(--dark-color);
  --el-switch-off-color: var(--light-color);
}

.switcher {
  height: 12px;
  margin-bottom: 1px;
}

.dark-switcher {
  color: var(--light-color);
}

.light-switcher {
  color: var(--dark-color);
}


.login-text {
  margin-left: 8px;
  margin-right: 8px;
  text-align: center;
}

.login {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 16px;
}

#login-login {
  padding-left: 36px;
  min-width: 100px;
}

.username {
  font-weight: 500;
  font-size: 16px;
  margin-left: 8px;
}

.searcher {
  border-radius: 15px;
  margin-top: 15px;
  height: 30px;
  width: 10vw;
  border: 1px solid var(--el-border-color);
  margin-right: 16px;
  display: flex;
}

.searcher-icon {
  margin-left: 10px;
  margin-top: 7.5px;
}
</style>
