<script>
import TopBar from '../components/TopBar.vue'
import { useDark, useToggle } from '@vueuse/core'
import LoginDialog from '../components/LoginDialog.vue'
import { ref } from 'vue'
/* import RouterView from 'vue-router' */

const isDark = useDark()
const toggleDark = useToggle(isDark)

import { useCookies } from "vue3-cookies";

const { cookies } = useCookies();
var identity = null
if (cookies.isKey('identity'))
  identity = cookies.get('identity')
var username = null
if (cookies.isKey('username'))
  username = cookies.get('username')

export default {
  data() {
    return {
      topbar: {
        items: [
          { item: "用户", index: "users" },
          /*           { item: "需求", index: "todo" },
                    { item: "家教信息", index: "todo" } */
        ]
      },
      loginDialogStatus: ref(false),
      dialogMode: ref("login"),
      registerType: ref("Teacher")
    }
  },
  components: {
    TopBar, LoginDialog
  },
  methods: {
    loginDialogClose() {
      this.loginDialogStatus = false
    }
  }
}
</script>

<template>
  <div class="main-layout" id="MainLayout">
    <el-container class="main">
      <el-header class="main-header">
        <TopBar :items="topbar.items" @login="dialogMode = 'login'; loginDialogStatus = true;"
          @register="registerType = ''; dialogMode = 'register'; loginDialogStatus = true;" />
      </el-header>
      <el-main class="main-main">
        <RouterView />
      </el-main>
      <el-footer></el-footer>
    </el-container>
  </div>
  <LoginDialog :visible="loginDialogStatus" @closeDialog="loginDialogClose" :mode="dialogMode"
    :registerType="registerType" />
</template>

<style scoped>
.main-layout {
  width: 100vw;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  position: absolute;
  background-color: var(--el-bg-color);
}

.main-header {
  padding: 0;
}

.main-main {
  height: 100vh;
  padding-top: 100px;
}
</style>
