<template>
    <div class="st-table">
        <el-table :data="tableData" style="width: 100%">
            <el-table-column prop="userid" label="id" width="180">
                <template #default="scope">
                    <span>{{ scope.row.userid }}</span>
                </template>
            </el-table-column>
            <el-table-column prop="username" label="姓名" width="120">
                <template #default="scope">
                    <input type="text" v-model="scope.row.username" v-show="scope.row.iseditor" />
                    <span v-show="!scope.row.iseditor">{{ scope.row.username }}</span>
                </template>
            </el-table-column>
            <el-table-column prop="age" label="年龄" width="120">
                <template #default="scope">
                    <input type="text" v-model="scope.row.age" v-show="scope.row.iseditor" />
                    <span v-show="!scope.row.iseditor">{{ scope.row.age }}</span>
                </template>
            </el-table-column>
            <el-table-column prop="identity" label="身份" width="120">
                <template #default="scope">
                    <input type="text" v-model="scope.row.class" v-show="scope.row.iseditor" />
                    <span v-show="!scope.row.iseditor">{{ scope.row.class == '0' ? '学生' : scope.row.class == '1' ? '老师'
                        :
                        scope.row.class == '2' ? 'Admin' : 'Unknown' }}</span>
                </template>
            </el-table-column>
            <el-table-column prop="region" label="地区">
                <template #default="scope">
                    <input type="text" v-model="scope.row.region" v-show="scope.row.iseditor" />
                    <span v-show="!scope.row.iseditor">{{ scope.row.region }}</span>
                </template>
            </el-table-column>
            <el-table-column label="操作" width="320">
                <template #default="scope">
                    <el-button type="warning" v-show="!scope.row.iseditor"
                        @click="edit(scope.row, scope)">编辑</el-button>
                    <el-button type="danger" v-show="scope.row.iseditor" @click="save(scope.row)">保存</el-button>
                    <el-button type="danger" @click="del(scope.row)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>
<script>
import { userList, userUpdate, userDel } from '../api.js';

export default {
    data() {
        return {
            tableData: []
        };
    },
    methods: {
        edit(row, index) {
            row.iseditor = true;
        },
        save(row, index) {
            row.iseditor = false;
            // userUpdate = async (userid, username, _class, sex, age, region, password)
            try {
                userUpdate(row.userid, row.username, row.class, row.sex, row.age, row.region, row.password);
            }
            catch (error) {
                console.error(error);
            }
        },
        async del(row, index) {
            //  删除用户
            try {
                await userDel(row.userid);
            } catch (error) {
                console.error(error);
            }
            try {
                var response = await userList();
                this.tableData = response.array;
                for (let i = 0; i < this.tableData.length; i++) {
                    this.tableData[i].iseditor = false;
                }
            } catch (error) {
                console.error('Failed to fetch user list:', error);
            }
        },
        async mounted() {
            // 调用api获取数据
            try {
                var response = await userList();
                this.tableData = response.array;
                for (let i = 0; i < this.tableData.length; i++) {
                    this.tableData[i].iseditor = false;
                }
            } catch (error) {
                console.error('Failed to fetch user list:', error);
            }
        }
    },
    mounted() {
        this.mounted();
    }
};
</script>
<style scoped></style>
